<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <input
    id="username"
    formControlName="username"
    placeholder="Email"
    required
    autocomplete="username"
    type="email"
  />

  <input
    id="password"
    formControlName="password"
    type="password"
    placeholder="Mot de passe"
    required
    autocomplete="current-password"
  />

  <button type="submit" [disabled]="loginForm.invalid">
    Se connecter
  </button>

  <div *ngIf="errorMsg" class="error">
    {{ errorMsg }}
  </div>
</form>
