<div class="dashboard-cockpit-grid">
  <!-- Bloc RGPD -->
  <section *ngIf="modulesActive.rgpd" class="dashboard-block">
    <app-dashboard-rgpd [userId]="userId"></app-dashboard-rgpd>
  </section>
  <!-- Bloc DUERP -->
  
  <section *ngIf="modulesActive.duerp" class="dashboard-block">
    <app-dashboard-duerp [userId]="userId"></app-dashboard-duerp>
  </section>
 
  <section *ngIf="modulesActive.certif" class="dashboard-block">
    <app-dashboard-certif></app-dashboard-certif>
  </section>
  
  <section *ngIf="modulesActive.ouvriers" class="dashboard-block">
    <app-dashboard-ouvriers></app-dashboard-ouvriers>
  </section>
  
  <section *ngIf="modulesActive.securite" class="dashboard-block">
    <app-dashboard-securite></app-dashboard-securite>
  </section>
  

  <!-- Ajoute d'autres blocs ici -->
</div>
