<div class="dashboard-module-card">
  <h2>{{ titreModule }}</h2>
  <div class="module-score-summary" *ngIf="mainStats && mainStats.length > 0; else noStats">
    <div class="stat-block" *ngFor="let stat of mainStats">
      <div class="stat-label">{{ stat.label }}</div>
      <div class="stat-value">{{ stat.value }}</div>
    </div>
  </div>
  <ng-template #noStats>
    <div class="empty-chart">Pas de statistiques</div>
  </ng-template>

  <div class="module-chart-row">
    <ngx-charts-bar-vertical
      *ngIf="isChartNotEmpty(); else chartEmpty"
      [results]="chartData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [animations]="true"
      [scheme]="'vivid'"
      [view]="[320,170]">
    </ngx-charts-bar-vertical>
    <ng-template #chartEmpty>
      <div class="empty-chart">Aucun graphique disponible</div>
    </ng-template>
  </div>

  <div class="module-chart-row">
    <ngx-charts-line-chart
      *ngIf="isTimelineNotEmpty(); else timelineEmpty"
      [scheme]="'cool'"
      [results]="timelineData"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [autoScale]="true"
      [animations]="true"
      xAxisLabel="Mois"
      yAxisLabel="Certifications"
      [view]="[340,170]">
    </ngx-charts-line-chart>
    <ng-template #timelineEmpty>
      <div class="empty-chart">Pas d’historique</div>
    </ng-template>
  </div>

  <div class="module-actions">
    <button mat-button color="primary" (click)="voirDetail()">Voir le détail</button>
    <button mat-stroked-button (click)="exporter()">Exporter</button>
    <button mat-stroked-button (click)="ajouterNouveau()">Ajouter</button>
  </div>
</div>
